* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button, input {
  outline: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #fff;
  transition: background-image 1s ease-in-out;
}
.btn {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: 0;
  background: url("../assets/images/Update-Button-PNG-Image-min.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  margin: 10px;
}

#time {
  font-size: 8rem;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }
}
#greeting {
  color: white;
}
figure {
  min-height: 100px;
  background: rgba(47,47,47, 0.6);
  border-radius: 9px;
  padding: 20px;
  width: 800px;
  text-align: center;
  animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

cite {
  font-style: italic;
  margin-top: 20px;
  text-align: right;
  display: block;
  font-weight: 300;
  font-size: 14px;
}
