body {
  margin: 0 auto;
  box-sizing: border-box;
}

.root {
  padding: 20px;
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: 0;
}
.root__wrapper {
  width: 100%;
  overflow: hidden;
}
.keyboardItem {
  background-color: #353535;
  color: #fdf6ff;
  font-size: 18px;
  width: 46px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4px 4px;
  padding: 0 2px;
  border-radius: 10px;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.keyboardItem:hover {
  cursor: pointer;
}

.keyboardItem-hover {
  cursor: pointer;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  background-color: #444343;
  transform: translateY(3px);
  -webkit-transform: translateY(2px);
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}

.keyboardItem-pressed {
  background: #73d5b9;
  color: #000

}

.bigButton {
  width: 90px;
}

.space {
  width: 260px;
}

.shift {
  width: 130px;
}

.keyboardCloseOpen {
  margin: auto auto;
  padding: 10px;
  border: 1px solid #000000;
  width: 100px;
  border-radius: 10px;
}

.use-keyboard-input {
  display: block;
  width: 95%;
  margin: 30px auto;
  padding: 10px;
  font-size: 20px;
  height: calc(100vh - 500px);
  min-height: 300px;
  position: relative;
  z-index: 5;
  box-sizing: border-box;
  font-weight: 500;
}

.keyboard-open{
  display: flex;
  animation-name: open;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.keyboard-close{
  display: flex;
  animation-name: close;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}


@keyframes close {
  0%   { top: 0; }
  100% { top: 420px; }
}

@keyframes open {
  0%   { top: 420px; }
  100% { top: 0; }
}


@media (max-width: 1000px) {
  .root {
    max-width: 100%;
    box-sizing: border-box;

  }
  .keyboardItem {
    font-size: 14px;
    width: 5.5%;
    margin: 2px 2px;
  }
  .bigButton {
    width: 10%;
  }
  .space {
    width: 260px;
  }
}

@media (max-width: 920px) {
  .keyboardItem {
    font-size: 14px;
    width: 5.5%;
    margin: 2px 2px;
  }
  .bigButton {
    width: 9.2%;
  }
  .space {
    width: 25%;
  }
  .shift {
    width: 15%;
  }
  div[data-key = voice] {
    width: 5.5%;
  }
  div[data-key=ArrowLeft]{
    width: 5.5%;
  }
  div[data-key=ArrowRight]{
    width: 5.5%;
  }
}
@media (max-width: 740px) {
  .keyboardItem {
    font-size: 14px;
    width: 5%;
    margin: 2px 2px;
  }
  .bigButton {
    width: 10%
  }
  .backspace {
    width: 80px;
  }
  .space {
    width: 20%;
  }
  div[data-key=ArrowLeft]{
    width: 6%;
  }
  div[data-key=ArrowRight]{
    width: 6%;
  }
}
@media (max-width: 650px) {
  .keyboardItem {
    width: 4.8%;
  }
  .root {
    padding: 10px;
  }
  .bigButton {
    width: 10%
  }
  .backspace {
    width: 80px;
  }
  .space {
    width: 20%;
  }
}
@media (max-width: 552px) {
  .keyboardItem {
    width: 4.5%;
    height: 36px;
  }
  .bigButton {
    width: 11%;
  }
  .backspace {
    width: 80px;
  }
  .space {
    width: 25%;
  }
}