*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Alata', sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  border-radius: 15px;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background:  rgba(254, 237, 255, 0.9);
}

.calculator-grid > button:nth-child(18) {
  border-bottom-left-radius: 15px;
}

.calculator-grid > button:last-child {
  border-bottom-right-radius: 15px;
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.output .previous-operand {
  color: rgba(0, 0, 0, .75);
  font-size: 1.5rem;
}
.output .current-operand {
  color: black;
  font-size: 2.5rem;
}
.calculator-grid > button.operation {
  background-image: linear-gradient(to right top, rgba(255, 156, 102, 0.8), rgba(255, 169, 98, 0.8), rgba(255, 182, 95, 0.8), rgba(251, 196, 95, 0.8), rgba(246, 210, 97, 0.8))
}