
.in-addition__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.credit-card {
  padding:10px 15px  10px 60px;
  background-color: #F1CDB3;
  border-radius: 9px;
  background-image: url("../../../assets/icons/credit-card.svg");
  background-position: 15px  center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  display: inline-block;
}
.credit-card__number {
  font-family: $font-Georgia;
  font-size: 2em;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  font-variant-numeric:  lining-nums;
  max-width: 349px;
}
.in-addition {
  background: #F6F6F6;
  padding: 82px 0 100px 0;
}
.in-addition__text {
  width: 380px;
  margin-left: 30px;
}
.in-addition__small-text {
  font-family: $font-Arial;
  font-style: italic;
  font-size: 1.2em;
  line-height: 152%;
  color: #B2B2B2;
  max-width: 360px;
}
.in-addition__title {
  max-width: 300px;
  margin-bottom: 16px;

}
.in-addition__subtitle {
  margin-bottom: 17px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
}

@media (max-width: 1279px) {
  .in-addition__wrapper {
    flex-direction: column-reverse;
  }
  .in-addition__text {
    margin-left: 0;
    margin-bottom: 60px;
  }
  .in-addition__title {
    margin-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .in-addition__text {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .in-addition__title {
    margin-bottom: 14px;
  }
  .in-addition__subtitle {
    letter-spacing: normal;
  }
  .credit-card__number {
    font-size: 1.5em;
  }
  .in-addition__small-text {
    text-align: justify;
  }
  .in-addition__img {
    width: 260px;
  }
  .in-addition {
    padding: 42px 0;
  }
}
